<!DOCTYPE html>
<html lang={{ _('html_lang') }}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLibrary</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Intro Section -->
<header class="header">
    <nav>
        <div class="logo">
            <h1>MyLibrary</h1>
            <p>{{ _('app description') }}</p>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#features">{{ _('features') }}</a></li>
                <li><a href="#about">{{ _('about') }}</a></li>
                <li><a href="https://github.com/moulineE/MyLibrary">{{ _('project_repo') }}</a></li>
                <li><a href="/mylibrary/">{{ _('deployed_project') }}</a></li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="text">
            <h4>Software Engineer</h4>
            <h2>FULL STACK</h2>
            <p>Mouline El mahdi</p>
            <div class="icon">
                <a href="https://github.com/moulineE"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/el-mahdi-mouline-15919a271/"><i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/MoulineEl"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</header>

<!-- Feature Section -->
<section id="features">
    <ul>
        <li class="feature1">
            <h2>{{ _('-_Searchable_books_database') }}</h2>
            <img class="feature-gif hide" src="path_to_your_gif.gif" alt="Description of GIF">
            <p>{{ _('A_modern_searchable_books...') }}</p>
        </li>
        <li class="feature-2">
            <h2>{{ _('User_system') }}</h2>
            <img class="feature-gif hide" src="path_to_your_gif.gif" alt="Description of GIF">
            <p>{{ _('User_system_descr') }}</p>
        </li>
        <li class="feature-3">
            <h2>{{ _('bookmark_system') }}</h2>
            <p></p>
            <p>{{ _('bookmark_system_desc') }}</p>
        </li>
    </ul>
    <!-- Repeat for other features -->
</section>

<!-- About Section -->
<section id="about">
    <p>{{ _('my_inspiration') }}</p>

</section>
</body>
<footer>
    <script>
        document.querySelectorAll('#features li h2').forEach((title) => {
            let clicked = false;
            title.addEventListener('mouseover', function() {
                this.nextElementSibling.classList.remove('hide');
            });
            title.addEventListener('mouseout', function() {
                if (!clicked) {
                    this.nextElementSibling.classList.add('hide');
                }
            });
            title.addEventListener('click', function() {
                clicked = !clicked;
            });
        });
    </script>
</footer>
</html>