<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1, width=device-width">
    <title>User Profile</title>
    <link rel="stylesheet" href="../static/styles/profile.css">
</head>
<body>
<div id="linkbar">
    <a href="index.html">Home</a>
    {% if user %}
    <a href="logout">Logout</a>
    {% else %}
    <a href="login">Login</a>
    <a href="register">Register</a>
    {% endif %}
</div>
    <h1>User Profile</h1>
    <form method="POST" id="profileForm">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" required>
        <button type="submit">Update Profile</button>
    </form>
    <h2>Change Password</h2>
    <form method="POST" id="passwordForm">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>